body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: pink;
}

.box{
    justify-items: center;
}

h1{
    font-size: 60px;
    padding: 25px 15px;
    text-align: center;
}

h2{
    font-size: 40px;
    padding-left: 15px;
    text-align: center ;
}

img {
    width: 800px;
    border-radius: 10px;
}