body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: Arial;
}
h2 {
    margin: 20px 0;
    padding-bottom: 15px;
    font-size: 24px;
}
