body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: pink;
}

.box{
    justify-items: center;
}

h1{
    font-size: 50px;
    padding: 25px 15px;
}

h2{
    font-size: 30px;
    padding-left: 15px;
}

img {
    width: 500px;
    border-radius: 10px;
}