body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: pink;
}

.box{
    justify-items: center;
}

h2 {
    margin: 20px 0;
    padding-bottom: 15px;
    font-size: 24px;
}

img {
    width: 300px;
    border-radius: 10px;
}