body {
    background-color: pink;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    font-family: Arial;
}

.box {
    text-align: center;
}

img {
    width: 400px;
    border-radius: 10px;
}

h2 {
    margin: 20px 0;
    padding-bottom: 15px;
    font-size: 24px;
}


button {
    margin: 0 5px;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#yes-button {
    color: black;
}

#no-button {
    color: black;
}